*{
    color: rgb(255, 0, 52);
}

#container {
    display: grid;
    grid-template-areas:
    'TheHeader'
    'Center'
    'TheFooter';
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(100, 0, 0);
    text-align: center;
    font-family:verdana;
    color: rgb(255, 0, 52);
}


@font-face {
    font-family: "Lucida Console", "Courier New", monospace;

}

#TheHeader {
    grid-area: TheHeader;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border:0.4vh;
    border-color: rgb(255, 0, 52);
    border-style:solid;
}

li,a {
    display: inline;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size:xx-large;
    text-decoration: none;
}

#center{
    grid-area: center;
    cursor: default;
}

#title {
    padding-top: 3%;
    margin: 0;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size:450%;

}

#maintext {
    font-size: xx-large;
    margin-bottom:3%;
    margin-top: 3%;
    font-weight: bold;

 }

 #footer {
    grid-area: footer;
    font-size: x-large;
 }


 a:hover {
    color:rgb(255, 255, 250);
}

p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

 @media only screen and (max-width: 800px) {
        .home-grid {
            margin-right: 11vw;
            grid-template-columns: 100%;
            row-gap: 4vh;
            grid-template-areas:
			'TheHeader'
			'Center'
			'toContactDiv'
			'TheFooterfooter';
        }

