<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>assignment3_1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/assignment3_1.css') }}">
</head>
<body>
{% include 'Header.html' %}


{% extends "base.html"%}

{%  block hapoel %}
    {{ super() }}
    <p id="p">Players in hapoel</p>

    {%for i in hapoel %}
        {% if i == "Salim Toama" %}
            <li >{{i | upper() }}</li>
        {% else %}
            <li >{{i| lower()}}</li>
        {% endif %}
    {%endfor%}

{% endblock %}



</body>
</html>
