<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name=viewport" content="width=device-width, initial-scale=1.0">
            <title>Contact</title>
            <link rel="stylesheet" href="../static/HTA.css">
            <script defer src="..//static/HTA.js"></script>
        </head>

        <body>

        <div id="Container">
            <header id="TheHeader">
                <nav>
                    <ul class = "H&Clinks">
                        <li><a href="Home Page.html">Home Page</a></li>
                        <li><a href="Contact.html">Contact</a></li>
                    </ul>
                </nav>
                <img src="../static/Logo.jpg" width="100" height="100" />
            </header>
`
                <div id="Center">
                    <h1 id="title">Contact</h1><br><br>
                        <form action="" method="get">
                            <label for="First_Name">First Name</label>
                            <input type="text" id="First_Name" name="First_Name"> </br>
                            <label for="Last_Name">Last Name</label>
                            <input type="text" id="Last_Name" name="Last_Name"><br />
                            <label for="Email">Email</label>
                            <input type="email" id="Email" name="Email"><br />
                            <label for="Phone_Number">Phone Number</label>
                            <input type="tel" id="Phone_Number" name="Phone_Number"><br />
                            <label for="Message">Message:</label>
                            <textarea id="Message" rows="1"></textarea> <br/>
                            <input type="submit">
                        </form>
            </div>

            <div>
                <button id="button" type="button" onclick="Red()">I'm a fan !</button>

            </div>

            <footer id = "TheFooter">
                <h2>H.T.A Football Team</h2>
            </footer>
        </div>

        </body>
</html>