<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="../static/HTA.css">
  <script defer src="..//static/HTA.js"></script>
  
</head>

<body>

	<div id="Container">
	   
		<header id="TheHeader">
			<nav>
				 <ul class = "H&Clinks">
					 <li><a href="Home Page.html">Home Page</a></li>
					 <li><a href="Contact.html">Contact</a></li>
				</ul>
			</nav>
			<img src="../static/hapoeltelaviv.png"/ width="205" height="115.25" >
		</header>


		<div id="Center">
			<h1 id="title">Hapoel Tel Aviv</h1>
			<p id="maintext">100% Anti Maccabi</p>
		</div>
		
		
		<div>
			<div style = "float: center">
				<img src="../static/instegram.png" width="115" height="115" />
			</div>
		<div>
			<a href="https://www.instagram.com/hapoeltafc/">Visit Hapoel Tel Aviv Official Instagram Page</a>
		</div>
	</div>

		<div>
                <button id="Click" type="button" onclick="Strong()">Red Devils</button>

            </div>

		</div>
            <footer id = "TheFooter">
                <h2>H.T.A Football Team</h2>
            </footer>
	</div>

</Body>
</html>